@import "../../../MapStore2/web/client/themes/default/base.less";
@import "../../../MapStore2/web/client/themes/default/icons.less";
@import "../../../MapStore2/web/client/themes/default/bootstrap-theme.less";
@import "../../../MapStore2/web/client/themes/default/ms2-theme.less";
@import "../../../MapStore2/web/client/themes/default/variables.less";
@import "variables.less";

#mapstore-navbar-container {
    z-index: 100;
    height: inherit;
    .square-button {
        border: none;
    }
}

.navbar-home {
    align-items: center;
    background: @omnibar-background-color;
    border-bottom-color: rgb(127,142,148);
    box-shadow: inset 0px -3px 5px 0px rgba(126,140,145,0.8);
    display: flex;
    flex-direction: row-reverse;

    & > ul a{
        display: flex;
    }

    & > .pull-left {
        display: flex;
        flex: 1;

        @media screen and (min-width: 300px)
        and (max-width: @screen-sm) {
            li:last-child {
                display: none;
            }
        }
    }

    & > ul a:hover {
        background: inherit;
        cursor: default;
    }

    & > ul a:focus {
        background: inherit;
    }

    .glyphicon-home,
    .glyphicon-user {
        font-size: 16px;
        padding: initial 0;
    }

    .dropdown,
    .dropdown > button {
        margin: 0 5px;

        @media screen and (min-width: 300px)
        and (max-width: @screen-sm) {
            margin: initial;
        }
    }

    > .dropdown > .dropdown-toggle,
    #home-button,
    #loginButton {
        height: 24px;
        width: 30px;
        margin-right: 0;
        background-color: @ms2-color-primary;
    }

    #share-panel-dialog-modal {
        #sharePanel-tabs {
            .nav-tabs {
                li {
                    border: none;
                }
            }

            .active {
                a {
                    color: inherit;
                }
            }

            .glyphicon-copy {
                margin-right: 0;
            }
        }

        .glyphicon-1-close {
            color: @ms2-color-white;
            margin-right: 0;
        }
    }

    .mapstore-langselector {
        div > button,
        div > button > button {
            background: inherit;
        }

        #mapstore-langselector:active,
        #mapstore-langselector:focus {
            background-color: inherit;
        }

        div > button:hover,
        div > button > button:hover {
            background: inherit
        }

        div > button > button img {
            width: 20px;
        }
    }
}


element.style {
}
.nav-content{
    position: absolute;
    margin-top: 16%;
}

.viewer {
    #mapstore-navbar .MapSearchBar {
        position: inherit;
        @media screen and (max-width: @screen-sm) {
            position: absolute;
            width: 300px;
        }

        .input-group {
            width: 100%;
        }

        @media screen and (min-width: @screen-sm) {
            width: 200px;
        }

        @media screen and (min-width: @screen-lg) {
            width: 400px;
        }
    }

    #map {
        height: 100% !important;
    }

    .navbar {
        margin-bottom: 0;
    }

    #mapstore-drawermenu .nav-menu {
        min-width: 450px;

        @media screen and (max-width: @screen-sm) {
            min-width: 300px;
        }
    }

    #mapstore-drawermenu {
        .nav-body {
            overflow: auto;
            .mapstore-layers-container {
                height: auto;
                min-height: 450px;
            }
        }
    }
}
.react-dock-no-resize {
    > div > div  {
        margin-top: 4.4% !important;
  }
}

.MapSearchBar .input-group {
    .search-toolbar-options {
        .btn-group-menu-options, .btn-group-menu-options-format {
            position: absolute;
            top: 7px;
        }
    }
    .searchInput {
        height: 42px !important;
    }
}

.toc-toolbar-wrap {
    display: flex;
    flex-wrap: wrap;
}

#legend-dialog {
    margin-left: 450px;
    @media screen and (min-width: 300px)
    and (max-width: @screen-sm) {
        margin: 200px 100px;
    }
}

.dropdown-menu {
    .ms-grid-container {
        .pagination-toolbar.row {
            display: block;
            .col-xs-12 {
                text-align: center;
                > div:empty {
                    display: none;
                }
            }
        }
        .row {
            display: none;
        }
        .ms-grid.row {
            display: block;
            max-height: 40vh;
            overflow-y: scroll;
            padding-left: 15px;
            padding-right: 15px;
            .ms-map-card-col {
                .gridcard.map-thumb {
                    width: 280px;
                }
            }
        }
        span.glyphicon {
            color: #ffffff;
        }
        .ms-map-card-col {
            width: 100%
        }
    }
}
